# ==== compiled binaries ====
a.out
/all_tests
/verify
/tdd
/unit_test
/utils/standalone/__build_c__
/utils/standalone/time

# ==== C ====

*.o

# ==== debugging ====

/*.rr/

# ==== testing ====

/*.log/

