# ==== compiled binaries ====
a.out
/all_tests
/codegen
/verify
/tdd
/unit_test
/utils/standalone/bs
/utils/standalone/time

# ==== C ====

*.o

# ==== debugging ====

/*.rr/

# ==== testing ====

/*.log/

